@font-face {
  font-family: 'Arial-MT';
  src: url("../assets/fonts/Arial-MT.woff"); /* Путь к файлу со шрифтом */
 }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background-color: #000000;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out, background-color .5s;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 30vh;
  min-height: 220px;  
  padding: 20px;
}

.player {
  transition: opacity 1s;
  transition-delay: 1.5s;
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
  margin-bottom: 8px;
}

.play-list {
  text-align: left;
}

.play-item {
  position: relative;
  padding: 5px;
  padding-left: 20px;
  list-style: none;
  opacity: .8;
  cursor: pointer;
  transition: .3s;
  display: flex;
  justify-content: space-between;
}

.play-item:hover {
  opacity: 1;
}

.play-item::before {
  content: "\2713";  
  position: absolute;
  left: 0;
  top: 2px;
  font-weight: 900;
}

.item-active::before {
  color: #C5B358;
}

.player-icon,
.slider-icon,
.change-quote {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: .8;
  cursor: pointer;
  transition: .3s;  
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active {
  border: 0;
  outline: 0;  
  transform: scale(1.1);
}

.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("../assets/svg/play.svg");
}

.play-mini {
  width: 16px;
  height: 16px;
  background-size: 16px 16px;
  background-image: url("../assets/svg/play.svg");
}

.pause {
  background-image: url("../assets/svg/pause.svg");
}

.play-prev {
  background-image: url("../assets/svg/play-prev.svg");
}

.play-next {
  background-image: url("../assets/svg/play-next.svg");
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  width: 180px;
  min-height: 180px;  
  text-align: left;
  transition: opacity 1s;
  transition-delay: 1.5s;
}

.weather-error {
  margin-top: -10px;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;  
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.city::placeholder {  
  font-size: 20px;
  color: #fff;
  opacity: .6;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  min-height: 260px;  
  padding: 20px;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url("../assets/svg/slider-prev.svg");
}

.slide-next {
  right: 20px;
  background-image: url("../assets/svg/slider-next.svg");
}

.time {
  min-height: 124px;
  margin-bottom: 10px;
  font-family: 'Arial-MT';
  font-size: 100px;
  letter-spacing: -4px;
  transition: opacity 1s;
  transition-delay: 1.5s;
}

.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
  transition: opacity 1s;
  transition-delay: 1.5s;
}

.greeting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  min-height: 48px;
  width: 100vw;
  font-size: 40px;
  transition: opacity 1s;
  transition-delay: 1.5s;
}

.greeting {
  flex: 1;  
  padding: 10px;
  text-align: right;
}

.name {
  flex: 1;
  max-width: 50%;
  padding: 10px;
  font-size: 40px;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.name::placeholder {
  color: #fff;
  opacity: .6;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 30vh;
  min-height: 60px;  
  padding: 20px;
}

.change-quote {
  margin-bottom: 30px;
  background-image: url("../assets/svg/reload.svg");
  transition: opacity 1s;
  transition-delay: 1.5s;
}

.quote {
  min-height: 32px;
  padding: 0 8%;
  transition: opacity 1s;
  transition-delay: 1.5s;
}

.author {
  min-height: 20px;
  transition: opacity 1s;
  transition-delay: 1.5s;
}

@media (max-width: 768px) {

  .time {
    min-height: 80px;
    font-size: 72px;    
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }

  .greeting {
    padding: 5px;
  }

  .name {
    font-size: 32px;
    padding: 5px;
  }
}

.time-line {
  display: flex;
  height: 6px;
  width: 180px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 2;
  margin-bottom: 2px;
  cursor: pointer;
}

.all-time-line {
  display: flex;
  height: 6px;
  align-self: center;
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  z-index: 1;
}

.mute-icon {
  background-image: url("../assets/svg/mute.svg") !important;
}

.vol-controls {
  left: 164px;
  width: 32px;
  display: flex;
  justify-self: flex-start;
  align-items: stretch;
  position: fixed;
  z-index: 10;
  transition: width 0.5s;
}

.vol-mute {
  background-image: url("../assets/svg/vol.svg");
  background-repeat: no-repeat;
  justify-self: flex-start;
  min-width: 32px;
  height: 32px;
  z-index: 2;
}

.vol-controls:hover {
  width: 132px !important;
}

.vol-line-block {
  margin-left: 8px;
  justify-self: flex-start;
  align-self: center;
  width: 200px;
  height: 8px;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 6px;
  z-index: 3;
  cursor: pointer;
}

.vol-line {
  z-index: 2;
  height: 100%;
  width: 0%;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 6px;
}

.play-title {
  margin-bottom: 4px;
  text-align: start;
  font-size: 0.8rem;
  opacity: .7;
}

.play-time {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.play-cur-time {
  font-size: 0.8rem;
  opacity: .6;
}

.play-dur-time {
  font-size: 0.8rem;
  opacity: .6;
}

.settings {
  position: absolute;
  left: 20px;
  bottom: 20px;
  background-image: url("../assets/svg/settings.svg");
  background-repeat: no-repeat;
  opacity: .6;
}

.pop-up {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  transition: opacity 1s;
}

.pop-up-back {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 12;
}

.pop-up-wrapper {
  width: 580px;
  height: auto;
  padding: 40px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.78);
  z-index: 25;
  transition: height .5;
}

.settings-title-up {
  margin-bottom: 16px;
  opacity: .6;
}

.window-settings {
  display: flex;
  flex-direction: column;
}

.settings-line {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 4px 0;
}

.settings-title {
  font-optical-sizing: 1;
  opacity: .7;
}

.window-settings h3 {
  opacity: .6;
  margin-top: 12px;
}

.settings-seted {
  text-align: end;
}

.settings-seted:hover {
  font-weight: bold;
  cursor: pointer;
}

.tag-seted {
  text-align: end;
  font-size: 1rem;
  color: #fff;  
  border: 0;
  outline: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
}

.tag-tittle {
  color: #de5f5f;
}

.transperent-block {
  transition: opacity 1s !important;
  transition-delay: 1.5s !important;
  opacity: 0 !important;
}

.transperent-settings {
  transition: opacity 1s !important;
  opacity: 0 !important;
}

.display-none {
  display: none !important;
}

.is-hide {
  opacity: .5 !important;
}

.loading {
  opacity: 1;
  transition: opacity .5s;
  margin: auto;
  font-size: 3rem;
  position: fixed;
  left: 0;
  /* top: calc(50vh - 2rem); */
  top: 0;
  width: 100%;
  height: 100%;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display: flex;
}

.loading div {
  margin: auto;
}

.loading-hide {
  opacity: 0 !important;
}

.todo {
  position: absolute;
  right: 16px;
  bottom: 16px;
  color: #ffffffaa;
  transition: color .5s;
  cursor: pointer;
  z-index: 1;
  transition: opacity 1s !important;
  transition-delay: 1.5s !important;
}

.todo:hover {
  color: #fff;
}

.todo-wrapper {
  display: block;
  width: 320px;
  min-height: 100px;
  position: fixed;
  bottom: 52px;
  right: 16px;
  background-color: rgba(0, 0, 0, 0.6);
  transition-duration: .5s;
  transition-property: all;
  z-index: 1;
}

.todo-wrapper::after {
  content: ''; 
  position: absolute;
  right: 10px; bottom: -20px;
  border: 10px solid transparent;
  border-top: 10px solid rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.todo-tittle {
  margin: 18px 4px;
  display: flex;
  justify-content: space-between;
  z-index: 2;
}

.todo-down-menu {
  display: flex;
  padding-left: 21px;
  opacity: .6;
  cursor: pointer;
  transition: opacity .2s;
  z-index: 2;
}


.todo-down-menu:hover {
  opacity: 1;
}

.todo-down-menu div {
  font-size: 15pt;
  z-index: 1;
}

.down-icon {
  display: flex;
  margin-inline-start: 4px;
  background-image: url('../assets/svg/arrow_drop_down.svg');
  background-size: contain;
  width: 24px;
  height: 24px;
  z-index: 1;
}

.todo-dots-menu {
  display: flex;
  justify-self: flex-end;
  margin-right: 12px;
  background-image: url('../assets/svg/more_horiz.svg');
  background-size: contain;
  width: 24px;
  height: 24px;
  opacity: .6;
  cursor: pointer;
  transition: opacity .2s;
  z-index: 1;
}

.todo-dots-menu:hover {
  opacity: 1;
}

.todo-start-screen {
  height: 152px;
  padding: 21px;
  opacity: 1;
  transition: width 1s, height 1s, opacity 1s .5s;
  z-index: 1;
}

.hide-block-down {
  height: 0;
  padding: 0;
  margin: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
}

.hide-block {
  opacity: 0;
  z-index: 1;
}

.todo-start-screen h3 {
  margin: 8px;
  z-index: 1;
}


.todo-start-screen p {
  cursor: pointer;
  margin: 8px;
  z-index: 1;
}

.todo-start-screen button {
  padding: 6px 24px;
  border: none;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  transition: background-color .2s;
  margin: 8px;
  z-index: 1;
}

.todo-start-screen button:hover {
  background-color: rgba(255, 255, 255, 1);
  z-index: 1;
}

.todo-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: static;
  z-index: 1;
}

.todo-new {
  width: 100%;
  padding: 8px 21px 18px;
  display: block;
  border: none;
  opacity: .75;
  overflow: hidden;
  background-color: #000;
  color: #fff;
  outline:none;
  z-index: 0;
}

.hide-block {
  visibility: hidden;
  z-index: 1;
}

.dropdown-lists {
  display: flex;
  position: fixed;
  margin-left: 24px;
  background-color: rgb(51, 51, 51);
  width: 240px;
  border-radius: 8px;
  z-index: 2;
}

.dropdown-lists::before {
  content: ''; 
  position: absolute;
  left: 20px; top: -20px;
  border: 10px solid transparent;
  border-bottom: 10px solid rgb(51, 51, 51);
  z-index: 2;
}

.list-chooser {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  border-radius: 8px;
  z-index: 2;
}

.list-chooser li {
  display: flex;
  width: 100%;
  list-style-type: none;
  padding: 8px 18px;
  opacity: .6;
  z-index: 2;
}

.list-chooser li:hover {
  opacity: 1;
  cursor: pointer;
  background-color: rgba(255,255,255,0.15);
  z-index: 1;
}

.list-name {
  font-weight: 800;
  margin-right: 8px;
  z-index: 1;
}

.dropdown-settings {
  display: flex;
  position: fixed;
  right: inherit;
  align-self: flex-end;
  margin-top: -10px;
  margin-right: 14px;
  background-color: rgb(51, 51, 51);
  width: 180px;
  border-radius: 8px;
  overflow: hidden;
  z-index: 2;
}

.invisible {
  visibility: hidden;
}

.todo-list-items {
  z-index: 2;
  transition-duration: .5s;
  transition-property: height;
}

.todo-list-items li {
  list-style: none;
  height: auto;
  display: flex;
  margin: 4px 16px;
  height: 19px;
  justify-content: space-between;
  z-index: 1;
  transition-duration: .5s;
  transition-property: height;
}

.todo-item {
  display: flex;
  z-index: 1;
}

.todo-item-tick {
  margin-right: 8px;
  margin-top: 2px;
  align-self: flex-start;
  z-index: 1;
}

.todo-item-options {
  width: 16px;
  height: 16px;
  opacity: 0;
  cursor: pointer;
  transition: opacity .2s;
  z-index: 1;
}

.todo-list-items li:hover {
  background-image: url('../assets/svg/more_horiz.svg');
  background-repeat: no-repeat;
  background-position-x: right;
  background-size: 16px 16px;
  z-index: 1;
}

.options-menu {
  display: flex;
  right: inherit;
  align-self: flex-end;
  background-color: rgb(51, 51, 51);
  border-radius: 8px;
  overflow: hidden;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  border-radius: 8px;
  z-index: 33;
}

.options-menu li {
  display: flex;
  width: 100%;
  list-style-type: none;
  padding: 2px 8px;
  opacity: .6;
  z-index: 33;
}

.options-menu li:hover {
  opacity: 1;
  cursor: pointer;
}

.todo-item-options-wrapper {
  display: flex;
  position: fixed;
  right: 55px;
  z-index: 3;
}

.grey-todo {
  opacity: .5;
  text-decoration: line-through;
}

@media only screen and (max-width: 640px) {

  body {
    font-size: 10px;
  }

  .header {
    min-height: 177px;
    padding: 20px 20px 5px;
  }

  .main {
    min-height: 160px;
    padding: 5px 20px 5px;
    height: 30vh;
  }

  .footer {
    min-height: 160px;
    padding: 5px 20px 5px;
    height: 40vh;
  }

  .player-controls {
    width: 70px;
  }

  .player-icon {
    width: 20px;
    height: 20px;
    background-size: 100%;
  }

  .vol-controls {
    width: 20px;
  }

  .vol-mute {
    width: 20px;
    min-width: 20px;
  }

  .vol-controls {
    left: 118px;
    width: 20px;
  }

  .vol-controls:hover {
    width: 82px !important;
  }

  .play-title {
    margin-bottom: 4px;
    text-align: start;
    font-size: 0.6rem;
    opacity: .7;
  }
  
  .play-time {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
  }
  
  .play-cur-time {
    font-size: 0.6rem;
    opacity: .6;
  }
  
  .play-dur-time {
    font-size: 0.6rem;
    opacity: .6;
  }

  .time-line {
    height: 4px;
    border-radius: 2px;
    width: 120px;
  }
  
  .all-time-line {
    height: 4px;
    border-radius: 2px;
  }

  .play-item {
    padding: 3px;
    padding-left: 12px;
  }

  .play-mini {
    width: 10px;
    height: 10px;
    background-size: 10px 10px;
  }

  .weather {
    row-gap: 5px;
    width: 120px;
    min-height: 100px;  
    text-align: left;
    transition: opacity 1s;
    transition-delay: 1.5s;
  }
  
  .weather-error {
    margin-top: -10px;
  }
  
  .description-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    column-gap: 12px;
  }
  
  .weather-icon {
    font-size: 24px;
  }
  
  .city {
    width: 110px;
    height: 20px;
    padding: 5px;
    font-size: 14px;
    line-height: 16px;
  }
  
  .city::placeholder {  
    font-size: 14px;
  }
  
  .slide-prev {
    left: 12px;
  }
  
  .slide-next {
    right: 12px;
  }
  
  .time {
    min-height: 30px;
    margin-bottom: 2px;
    font-size: 3rem;
    letter-spacing: -4px;
  }
  
  .date {
    min-height: 18px;
    font-size: 0.8rem;
    margin-bottom: 8px;
  }
  
  .greeting-container {
    min-height: 12px;
    font-size: 1.2rem;
  }
  
  .name {
    min-height: 12px;
    font-size: 1.2rem;
  }
  
  .change-quote {
    margin-bottom: 12px;
    height: 20px;
    width: 20px;
    background-size: 100%;
  }
  
  .quote {
    min-height: 32px;
    padding: 0 18%;
    font-size: 0.5rem;
  }
  
  .author {
    min-height: 24px;
    font-size: 0.5rem;
  }
  
  .todo-wrapper {
    width: calc(100vw - 32px);
  }
  
  .todo-tittle {
    margin: 12px 0;
  }
  
  .todo-down-menu {
    padding-left: 14px;
  }
  
  .todo-down-menu div {
    font-size: 12pt;
  }
  
  .down-icon {
    margin-inline-start: 2px;
    width: 18px;
    height: 18px;
  }
  
  .todo-dots-menu {
    margin-right: 10px;
    width: 18px;
    height: 18px;
  }
  
  .todo-start-screen {
    height: 102px;
    padding: 12px;
  }
  
  .todo-start-screen h3 {
    margin: 4px;
  }
  
  .todo-start-screen p {
    margin: 8px;
  }

  .todo-start-screen button {
    padding: 4px 14px;
    margin: 6px;
  }

  .hide-block-down {
    height: 0;
    padding: 0;
  }
  
  .todo-new {
    padding: 8px 16px 12px;
  }
  
  .dropdown-lists {
    margin-left: 14px;
    width: 150px;
    border-radius: 6px;
  }
  
  .list-chooser {
    border-radius: 6px;
  }
  
  .list-chooser li {
    padding: 6px 12px;
  }
  
  .list-name {
    font-weight: 800;
    margin-right: 8px;
    z-index: 1;
  }
  
  .dropdown-settings {
    margin-right: 8px;
    width: 120px;
    border-radius: 6px;
  }
  
  .todo-list-items li {
    margin: 4px 14px;
    height: 16px;
  }
  
  .todo-item-tick {
    margin-right: 6px;
    margin-top: 0;
  }

  .todo-item-name {
    margin-top: 1px;
  }
  
  .todo-item-options {
    width: 12px;
    height: 12px;
  }
  
  .todo-list-items li:hover {
    background-size: 12px 12px;
  }
  
  .options-menu {
    border-radius: 6px;
  }
  
  .options-menu li {
    padding: 2px 2px;
  }
  
  .todo-item-options-wrapper {
    right: 50px;
  }
  
  .grey-todo {
    opacity: .5;
    text-decoration: line-through;
  }

  .pop-up-wrapper {
    width: calc(100vw - 16px);
    padding: 20px;
  }
  
  .settings-title-up {
    margin-bottom: 12px;
  }
  
  .tag-seted {
    font-size: 0.8rem;
    width: 80px;
  }
  
  .loading {
    font-size: 2rem;
  }
}