@media only screen and (max-width: 1199px) {
    #header-content nav {
        display: none;
    }
    #header-content button {
        display: none;
    }
    #logo-text {
        display: none;
    }
    
    h1 {
        display: none;
    }
    #preview p {
        display: none;
    }
    
    #up-block {
        height: 251px;
        background-size: cover;
    }
    
    header {
        height: 30px;
        padding-top: 45px;
        padding-left: 1px;
        box-shadow: none;
        background: none;
        background: linear-gradient(180deg, #0D606F 0%, rgba(13, 96, 111, 0) 84%);
    }
    #header-content {
        width: 360px;
    }
    
    #planning-box {
        height: 48px;
        width: 335px;
        padding-left: 16px;
        padding-right: 9px;
    }
    .text-24 {
        font-size: 14px;
    }
    #preview {
        margin-top: 67px;
        width: 360px;
    }
    .p-bot-17 {
        padding-bottom: 0
    }
    
    .w-1200 {
        max-width: 360px;
        margin-left: auto;
        margin-right: auto;
    }
    button {
        width: 92px;
        height: 30px;
        font-size: 11px;
        box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
        border-radius: 10px;
    }
    
    #steps{
        margin-top: 20px;
        padding-top: 0;
    }
    #steps h2 {
        margin-bottom: 20px;
    }
    h2 {
        font-size: 14px;
        font-weight: 500;
    }
    .m-top-40 {
        margin-top: 0
    }
    .padding-stories {
        padding-top: 5px;
    }
    
    #steps-div {
        align-items: start;
    }
    .step-icon {
        width: 70px;
        height: 70px;
    }
    .step-icon img {
        width: 35px;
    }
    .step-block p {
        margin-top: 19px;
        font-size: 10px;
    }
    #step-1 {
        max-width: 95px;
        align-items: start;
    }
    #step-3 img{
        width: 40px;
    }
    #step-3 {
        max-width: 95px;
        align-items: end;
        text-align: end;
    }
    
    .p-top-80 {
        padding-top: 22px;
    }
    .m-top-46 {
        margin-top: 20px;
    }
    .dest-block {
        width: 360px;
        height: 210px;
        border-radius: 16px;
    }
    .cut-block {
        height: 240px;
        width: 360px;
        margin: auto;
    }
    .dest-block span {
        align-self: flex-start;
        margin-bottom: 0;
        margin-top: 8px;
        font-size: 20px;
    }
    #circles {
        margin-top: 190px;
    }
    .circle {
        width: 8px;
        height: 8px;
        border-radius: 4px;
    }
    .cut-overflow {
        height: 220px;
    }
    #destinations button {
        width: 92px;
        height: 30px;
    }
    button img {
        width: 9px;
    }
    .m-right-12 {
        margin-right: 8px;
    }
    #arrows {
        display: flex;
    }
    
    .dest-1 {
        background: url(../img/mobile_dest1.jpg), #FFFFFF;
        margin-left: 870px;
    }
    .dest-2 {
        background: url(../img/mobile_dest2.jpg), #FFFFFF;
    }
    .dest-3 {
        background: url(../img/mobile_dest3.jpg), #FFFFFF;
    }
    .circle-active {
        background: rgba(242, 120, 92, 0.5);
    }
    .circle-active-mobile {
        background: rgba(242, 120, 92, 1);
    }
    
    #stories-h2 {
        padding-top: 20px;
    }
    
    .stories-back {
        margin-top: 10px;
    }
    .picture-400-250 {
        min-width: 155px;
        min-height: 130px;
    }
    #story-1 {
        background-image: url("../img/mobile_story1.jpg")
    }
    #story-2 {
        background-image: url("../img/mobile_story2.jpg")
    }
    #story-3 {
        background-image: url("../img/mobile_story3.jpg")
    }
    #story-4 {
        background-image: url("../img/mobile_story4.jpg")
    }
    #stories p {
        font-size: 9px;
        text-overflow: ellipsis;
        max-height: 102px;
    }
    #stories p span {
        display: -webkit-box;
                 -webkit-line-clamp: 8;
                 -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    h3 {
        margin-top: 5px;
        margin-bottom: 10px;
        font-size: 11px;
    }
    .m-left-40 {
        margin-left: 10px;
        max-height: 130px;
    }
    #stories button {
        margin-top: 0;
        margin-bottom: 13px;
    }
    .article {
        margin-bottom: 10px;
        margin-top: 5px;
    }
    
    .stories-back footer {
        height: 65px;
        justify-content: center;
    }
    .stories-back footer ul{
        padding: 0;
    }
    #footer-social img{
        margin-left: 12px;
        margin-right: 12px;
    }
    footer p{
        display: none;
    }
    #footer-social {
        margin: 0;
    }
    
    #burger-menu-block {
        display: flex;
    }
}

.dropdown-content {
    display: none;
}

#mobile-nav-block {
    /* display: flex; */
    justify-content: flex-end;
    position: fixed;
    width: 100%;
    height: 100%;
}

#mobile-nav-menu {
    width: 165px;
    height: 250px;
    background: #F2785C;
    box-shadow: 0px 4px 3px 0px #0D606F40;
    border-radius: 10px;
}

#close-icon-block {
    display: flex;
    padding: 15px 15px 13px;
}

#nav-list nav ul {
    margin: 0;
}

#nav-list nav ul li {
    margin: 0 15px 10px 0;
    font-family: "Red Hat Text";
    font-size: 16px;
    font-weight: 500;
    font-size: 16px;
    text-align: right;
}
#nav-list nav ul li a {
    color: white;
    text-decoration: none;
}

.show {
    display:flex;
}